<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>BMI kalkulačka </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="apple-touch-icon" href="/imgs/icons8-weight-linector-lineal-color-76.png" />
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <div id="mojSuperElement">
        <h2>BMI kalkulačka</h2>

        <div class="hodnota">
            <div v-if="vyska" class="popis">výška (cm)</div>
            <div v-else class="popis__blank"></div>
            <input v-model="vyska" type="text" class="input " placeholder="výška (cm)">
        </div>

        <div class="hodnota">
            <div v-if="hmotnost" class="popis">hmotnosť (kg)</div>
            <div v-else class="popis__blank"></div>
            <input v-model="hmotnost" type="text" class="input " placeholder="hmotnosť (kg)">
        </div>

        <div class="vysledok" v-if="bmi > 1">tvoje BMI je {{ bmi }}</div>
        <br>
        <div>{{ bmiText }}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js').then(function(registration) {
              // Registration was successful
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
            });
          });
        }
      </script>
      
</body>

</html>